# App
APP_NAME=kyrux
APP_ENV=development #production
APP_DEBUG=true #false

# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# Database
DB_DRIVER=postgres
DB_DSN=postgres://user:password@localhost:5432/kyrux?sslmode=disable

# Cache
CACHE_DRIVER=memory
CACHE_ADDR=localhost:6379

# Security
SECRET_KEY=your-strong-random-secret-key-here
SESSION_TTL=3600
